<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="cui.shibing.freeread.model"/>
    </typeAliases>
    <plugins>
    	<!-- 动态修改表名的拦截器 -->
    	<plugin interceptor="cui.shibing.freeread.mybatisinterceptor.MybatisInterceptor"/>
    </plugins>
</configuration>