<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="cui.shibing.freeread.dao" />

	<bean id="dataSource" class="cui.shibing.freeread.datasource.DynamicDataSource">
		<property name="dataSourceDriver" value="${driver}" />
		<property name="dataSourceUserName" value="${username}" />
		<property name="dataSourcePassword" value="${password}" />
		<!-- 初始化连接大小 -->
		<property name="dataSourceInitialSize" value="${initialSize}"/>
		<!-- 连接池最大数量 -->
		<property name="dataSourceMaxActive" value="${maxActive}"/>
		<!-- 连接池最大空闲 -->
		<property name="dataSourceMaxIdle" value="${maxIdle}"/>
		<!-- 连接池最小空闲 -->
		<property name="dataSourceMinIdle" value="${minIdle}"/>
		<!-- 获取连接最大等待时间 -->
		<property name="dataSourceMaxWait" value="${maxWait}"/>

		<property name="dataSourceClass" value="org.apache.commons.dbcp.BasicDataSource"/>

        <property name="configObjects">
            <list>
                <bean class="cui.shibing.freeread.datasource.DynamicDataSource.DataSourceConfigObject">
                    <property name="dataSourceName" value="default-database"/>
                    <property name="masterUrls">
                        <array>
                            <value>jdbc:mysql://localhost:3306/freeread_db</value>
                        </array>
                    </property>
                    <property name="slaverUrls">
                        <array>
                            <value>jdbc:mysql://localhost:3306/freeread_db</value>
                            <value>jdbc:mysql://localhost:3306/freeread_db</value>
                        </array>
                    </property>
                </bean>
            </list>
		</property>

        <property name="defaultDataSourceName" value="default-database"/>

    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"/>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:cui/shibing/freeread/mapper/*.xml"/>
	</bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cui.shibing.freeread.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

    <bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
