<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WOOREAD INDEX</title>
    <link rel="stylesheet" type="text/css" href="/iview/iview.css">
    <script src="/vue/vue.js"></script>
    <script src="/iview/iview.min.js"></script>
    <script src="/vue/vue-resource.min.js"></script>
    <style>
        html,body{
            height: 100%;
        }
    </style>
</head>
<body>
<div id="main">

</div>
<script>
    new Vue({
        el: '#main',
        data: {

        },
        methods: {

        }
    });
</script>
</body>
</html>

