<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WOOREAD INDEX</title>
    <link rel="stylesheet" type="text/css" href="/iview/iview.css">
    <script src="/vue/vue.js"></script>
    <script src="/iview/iview.min.js"></script>
    <script src="/vue/vue-resource.min.js"></script>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="register">
    <card style="width:400px;margin-left: 50%;position:absolute;left:-200px;top: 20%;">
        <p slot="title">
            请填写注册信息
        </p>
        <i-form ref="registerForm" :model="formItem" :label-width="70">
            <form-item label="用户名:">
                <i-input v-model="formItem.userName" placeholder="请输入用户名"></i-input>
            </form-item>
            <form-item label="密码:">
                <i-input type="password" v-model="formItem.password" placeholder="请输入密码"></i-input>
            </form-item>
            <form-item label="邮箱:">
                <i-input type="email" v-model="formItem.email" placeholder="请输入邮箱"></i-input>
            </form-item>
            <form-item label="电话:">
                <i-input type="phone" v-model="formItem.phone" placeholder="请输入电话"></i-input>
            </form-item>
            <form-item label="性别:">
                <radio-group v-model="formItem.gender">
                    <radio label="1"><span>男</span></radio>
                    <radio label="2"><span>女</span></radio>
                </radio-group>
            </form-item>
            <form-item>
                <i-button type="primary" @click="handleRegister('registerForm')">注册</i-button>
            </form-item>
        </i-form>
    </card>
</div>
<script>
    window.onload = function () {
        new Vue({
            el: '#register',
            data: {
                formItem: {
                    userName: '',
                    password: '',
                    email: '',
                    phone: '',
                    gender: ''
                }
            },
            methods: {
                handleRegister(name) {
                    console.info(name);
                    this.$http.post('http://localhost:8092/wooread-user/createUser', this.formItem).then(res => {
                        let data = res.data;
                        if (data.code == 2) {// 成功
                            this.$Notice.success({
                                title: '注册成功',
                                desc: ''
                            });
                            setTimeout(() => {
                                window.location.href = '/index.html'
                            }, 1000)
                        } else {
                            this.$Notice.error({
                                title: '注册失败,' + data.message,
                                desc: ''
                            });
                        }
                    })
                }
            }
        });
    };
</script>
</body>
</html>

