<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <global-method-security
            pre-post-annotations="enabled"/>
    <http use-expressions="true"  auto-config="false">
        <csrf disabled="true"/>
        <form-login login-page="/loginPage" default-target-url="/"
                    login-processing-url="/login"/>
        <intercept-url pattern="/resources/**" access="permitAll()"/>
        <intercept-url pattern="/loginPage" access="permitAll()"/>
        <intercept-url pattern="/user/loginFailPage" access="permitAll()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <custom-filter ref="customAuthenticationLoginProcessFilter" before ="FORM_LOGIN_FILTER"/>
        <!--<custom-filter ref="customFilterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>-->

    </http>

    <!--<beans:bean id="customSecurityMetadataSource" class="cui.ssmtest.antenrization.CustomSecurityMetadataSource"/>-->
    <beans:bean id="mUserDeatilsService" class="cui.shibing.freeread.security.UserDetailsServiceImpl"/>

    <authentication-manager id="mAuthenticationManager">
        <authentication-provider user-service-ref="mUserDeatilsService"/>
    </authentication-manager>

    <!--<beans:bean id="customAuthenticationProvider" class="cui.shibing.freeread.security.CustomAuthenticationProvider">
        <beans:constructor-arg name="hideUserNotFoundExceptions" value="false"></beans:constructor-arg>
        <beans:property name="userDetailsService" ref="mUserDeatilsService"/>
    </beans:bean>-->

    <beans:bean id="customAuthenticationLoginProcessFilter" class="cui.shibing.freeread.security.CustomAuthenticationLoginProcessFilter">
        <beans:property name="authenticationManager" ref="mAuthenticationManager"/>
        <beans:constructor-arg name="failureHandler" ref="customAuthenticationFailureHandler"/>
    </beans:bean>

    <beans:bean id="customAuthenticationFailureHandler" class="cui.shibing.freeread.security.CustomAuthenticationFailureHandler"/>

</beans:beans>
