<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 设置具体执行的 job类	-->
	<bean id="job" class="cui.shibing.freeread.quartz.QuartzTest"></bean>

	<!-- 将执行的job类注入到定时器的job容器中 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="job" />
		</property>
		<!-- 具体执行调度任务的业务方法！ -->
		<property name="targetMethod">
			<value>quartz</value>
		</property>
	</bean>

	<!-- 将具体的调度任务注入，并设置定时器触发的corn表达式-->
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="jobDetail" />
		</property>
		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
			<!-- 每3秒执行一次 -->
		</property>
	</bean>

	<!-- 配置Quartz的调度工厂，调度工厂只能有一个，多个调度任务在list中添加 -->
	<bean id="schedulerFactoryBean"	class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger" />
			</list>
		</property>
		<!-- 设置为自动开启 -->
		<property name="autoStartup" value="true"></property>
	</bean>

</beans>  